# 데이터 확인

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv(r'../data/ml-predicting-the-actual-price-of-apartments-dacon-zigbang/sampled_train.csv')

df

,transaction_id,apartment_id,city,dong,jibun,apt,addr_kr,exclusive_use_area,year_of_completion,transaction_year_month,transaction_date,floor,transaction_real_price
0,10923,1878,서울특별시,신당동,844,남산타운,신당동 844 남산타운,84.8800,2002,201601,1~10,3,52000
1,10924,1878,서울특별시,신당동,844,남산타운,신당동 844 남산타운,84.8800,2002,201601,1~10,10,58000
2,10927,1878,서울특별시,신당동,844,남산타운,신당동 844 남산타운,114.8800,2002,201601,1~10,11,91500
3,10928,1878,서울특별시,신당동,844,남산타운,신당동 844 남산타운,114.8800,2002,201601,11~20,13,72000
4,10930,1878,서울특별시,신당동,844,남산타운,신당동 844 남산타운,84.8800,2002,201601,11~20,6,68300
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36011,1234627,9587,부산광역시,정관읍 용수리,1403,정관신도시한진해모로,정관읍 용수리 1403 정관신도시한진해모로,109.3076,2008,201709,21~30,2,33900
36012,1234712,9587,부산광역시,정관읍 용수리,1403,정관신도시한진해모로,정관읍 용수리 1403 정관신도시한진해모로,135.6199,2008,201710,11~20,10,40000
36013,1234715,9587,부산광역시,정관읍 용수리,1403,정관신도시한진해모로,정관읍 용수리 1403 정관신도시한진해모로,109.3076,2008,201710,11~20,12,36500
36014,1234717,9587,부산광역시,정관읍 용수리,1403,정관신도시한진해모로,정관읍 용수리 1403 정관신도시한진해모로,135.6199,2008,201710,11~20,13,41500
36015,1234822,9587,부산광역시,정관읍 용수리,1403,정관신도시한진해모로,정관읍 용수리 1403 정관신도시한진해모로,109.3076,2008,201711,11~20,5,36000

In [3]:
test_df = pd.read_csv(r'../data/ml-predicting-the-actual-price-of-apartments-dacon-zigbang/sampled_test.csv')

test_df

,transaction_id,apartment_id,city,dong,jibun,apt,addr_kr,exclusive_use_area,year_of_completion,transaction_year_month,transaction_date,floor
0,1197195,4018,서울특별시,암사동,414-2,롯데캐슬퍼스트,암사동 414-2 롯데캐슬퍼스트,102.340,2008,201712,21~31,9
1,1190777,520,서울특별시,가락동,140,가락(1차)쌍용아파트,가락동 140 가락(1차)쌍용아파트,59.920,1997,201712,21~31,15
2,1197165,6467,서울특별시,암사동,509,선사현대아파트,암사동 509 선사현대아파트,59.640,2000,201712,21~31,6
3,1179572,731,서울특별시,개포동,189,개포주공 4단지,개포동 189 개포주공 4단지,50.670,1982,201707,1~10,3
4,1131476,5950,서울특별시,상계동,626,상계주공14(고층),상계동 626 상계주공14(고층),90.940,1989,201712,11~20,6
...,...,...,...,...,...,...,...,...,...,...,...,...
384,1162728,8272,서울특별시,영등포동,647,영등포푸르지오,영등포동 647 영등포푸르지오,79.777,2002,201712,11~20,13
385,1214400,12432,부산광역시,화명동,2324,화명롯데캐슬카이저,화명동 2324 화명롯데캐슬카이저,115.030,2012,201712,11~20,30
386,1210776,8415,부산광역시,용호동,944,오륙도에스케이뷰,용호동 944 오륙도에스케이뷰,123.307,2008,201712,11~20,33
387,1190462,10909,서울특별시,잠실동,35,트리지움,잠실동 35 트리지움,114.700,2007,201712,21~31,18
388,1190418,9436,서울특별시,잠실동,19,잠실엘스,잠실동 19 잠실엘스,59.960,2008,201712,11~20,8

In [4]:
park_df = pd.read_csv(r'../data/ml-predicting-the-actual-price-of-apartments-dacon-zigbang/park.csv')

park_df

,city,gu,dong,park_name,park_type,park_area,park_exercise_facility,park_entertainment_facility,park_benefit_facility,park_cultural_facitiy,park_facility_other,park_open_year,reference_date
0,부산광역시,남구,대연동,대연공원,근린공원,55227.0,NaN,NaN,NaN,NaN,NaN,1944.0,2018-08-14
1,부산광역시,남구,대연동,당곡공원,역사공원,75465.0,NaN,NaN,NaN,NaN,NaN,1944.0,2018-08-14
2,부산광역시,남구,대연동,대일어린이공원,어린이공원,422.1,NaN,NaN,NaN,NaN,NaN,1965.0,2018-08-14
3,부산광역시,남구,대연동,못골어린이공원,어린이공원,499.8,NaN,NaN,NaN,NaN,NaN,1968.0,2018-08-14
4,부산광역시,남구,용호동,솔밭어린이공원,어린이공원,1500.2,NaN,NaN,NaN,NaN,NaN,1970.0,2018-08-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1354,서울특별시,구로구,천왕동,이펜시아어린이공원,어린이공원,1500.0,NaN,조합놀이 1기,NaN,NaN,NaN,2006.0,2019-02-25
1355,서울특별시,구로구,천왕동,개명소공원,소공원,5415.0,NaN,NaN,NaN,NaN,NaN,2006.0,2019-02-25
1356,서울특별시,구로구,천왕동,봉화대근린공원,근린공원,60975.0,NaN,NaN,NaN,NaN,NaN,2006.0,2019-02-25
1357,서울특별시,구로구,항동,푸른수목원,근린공원,100809.0,NaN,NaN,NaN,NaN,NaN,2005.0,2019-02-25
1358,서울특별시,구로구,오류동,오류동역문화공원,문화공원,7510.0,NaN,NaN,NaN,NaN,NaN,2013.0,2019-02-25

In [5]:
day_care_center_df = pd.read_csv(r'../data/ml-predicting-the-actual-price-of-apartments-dacon-zigbang/day_care_center.csv')

day_care_center_df

,city,gu,day_care_name,day_care_type,day_care_baby_num,teacher_num,nursing_room_num,playground_num,CCTV_num,is_commuting_vehicle,reference_date
0,서울특별시,서대문구,가람어린이집,국공립,70,11.0,5.0,1.0,7.0,N,2018-07-31
1,서울특별시,서대문구,가좌제일어린이집,국공립,88,22.0,5.0,2.0,10.0,N,2018-07-31
2,서울특별시,서대문구,경찰청어린이집,직장,90,23.0,6.0,1.0,32.0,N,2018-07-31
3,서울특별시,서대문구,고운햇살어린이집,가정,18,5.0,3.0,0.0,4.0,N,2018-07-31
4,서울특별시,서대문구,고은어린이집,국공립,93,20.0,7.0,2.0,10.0,N,2018-07-31
...,...,...,...,...,...,...,...,...,...,...,...
7546,부산광역시,금정구,해바라기어린이집,민간,46,13.0,NaN,NaN,NaN,y,2019-01-21
7547,부산광역시,금정구,해수어린이집,가정,19,6.0,NaN,NaN,NaN,y,2019-01-21
7548,부산광역시,금정구,행복한그림동산어린이집,민간,92,16.0,NaN,NaN,NaN,y,2019-01-21
7549,부산광역시,금정구,행복한어린이집,민간,43,12.0,NaN,NaN,NaN,y,2019-01-21
7550,부산광역시,금정구,혜인어린이집,민간,32,7.0,NaN,NaN,NaN,y,2019-01-21

In [11]:
ref_df = pd.read_excel(r'../data/ml-predicting-the-actual-price-of-apartments-dacon-zigbang/한국행정구역분류.xlsx', sheet_name = "법정동코드 연계 자료분석용", header = 1)

ref_df

c:\Users\baebi\miniconda3\envs\ds_study\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,시도,시군구,행정구역명,행정동(행정기관명),법정동,행정구역코드,행정기관코드,행정기관 생성일,법정동코드,관할지역,행정동 영문명칭,비고
0,서울특별시,서울특별시,서울특별시,서울특별시,서울특별시,11.0,1100000000,19880423,1100000000,NaN,Seoul,NaN
1,서울특별시,종로구,종로구,종로구,종로구,11010.0,1111000000,19880423,1111000000,NaN,Jongno-gu,NaN
2,서울특별시,종로구,청운효자동,청운효자동,청운동,1101072.0,1111051500,20081101,1111010100,NaN,Cheongunhyoja-dong,NaN
3,서울특별시,종로구,청운효자동,청운효자동,신교동,1101072.0,1111051500,20081101,1111010200,NaN,Cheongunhyoja-dong,NaN
4,서울특별시,종로구,청운효자동,청운효자동,궁정동,1101072.0,1111051500,20081101,1111010300,NaN,Cheongunhyoja-dong,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
21662,제주특별자치도,서귀포시,중문동,중문동,대포동,3902061.0,5013061000,20060701,5013011400,NaN,Jungmun-dong,NaN
21663,제주특별자치도,서귀포시,중문동,중문동,하원동,3902061.0,5013061000,20060701,5013011800,NaN,Jungmun-dong,NaN
21664,제주특별자치도,서귀포시,예래동,예래동,색달동,3902062.0,5013062000,20060701,5013011900,NaN,Yerae-dong,NaN
21665,제주특별자치도,서귀포시,예래동,예래동,상예동,3902062.0,5013062000,20060701,5013012000,NaN,Yerae-dong,NaN
21666,제주특별자치도,서귀포시,예래동,예래동,하예동,3902062.0,5013062000,20060701,5013012100,NaN,Yerae-dong,NaN

# 탐색 및 전처리

# 데이터 병합

# 모델링